[submodule "Apostel-rust"]
	path = Apostel-rust
	url = https://github.com/Slesa/Apostel-rust
[submodule "Apostel-net"]
	path = Apostel-net
	url = https://github.com/Slesa/Apostel-net
[submodule "Apostel-qt"]
	path = Apostel-qt
	url = https://github.com/Slesa/Apostel-qt
